[Unit]
Description=Arch-System Mine Management
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=tim
Group=tim
WorkingDirectory=/home/tim/Desktop/New Folder/01.mine-management-system
EnvironmentFile=/home/tim/Desktop/New Folder/01.mine-management-system/.env
ExecStart=/home/tim/Desktop/New Folder/01.mine-management-system/venv/bin/gunicorn -c gunicorn.conf.py "app:app"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
TimeoutStopSec=30
Restart=always
RestartSec=5

NoNewPrivileges=true
PrivateTmp=true

StandardOutput=journal
StandardError=journal
SyslogIdentifier=mine-management

[Install]
WantedBy=multi-user.target
